<!DOCTYPE html>
<html lang="en">
    <head>
        <title>KHOA PHAM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <p>NodeJS Khoa Pham</p>
    </body>
</html> 